<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
    <property name="hibernate.connection.url">jdbc:hsqldb:file:../basededatos/unab-erp.dat</property>
    <property name="hibernate.connection.username">SA</property>
    <property name="show_sql">true</property>
    <property name="connection.pool_size">1</property>
    <!--<property name="hibernate.hbm2ddl.auto">create-drop</property>-->
    <!--<property name="hibernate.hbm2ddl.auto">update</property>-->
    <mapping resource="unab/erp/core/rrhh/mapping/Persona.hbm.xml"/>
    <mapping resource="unab/erp/core/rrhh/mapping/Cargo.hbm.xml"/>
    <mapping resource="unab/erp/core/rrhh/mapping/Jornada.hbm.xml"/>
    <mapping resource="unab/erp/core/rrhh/mapping/DiaTrabajado.hbm.xml"/>
    <mapping resource="unab/erp/core/rrhh/mapping/Descuento.hbm.xml"/>
    <mapping resource="unab/erp/core/rrhh/mapping/Liquidacion.hbm.xml"/>
    
    
    
    
  
  
    
    
  </session-factory>
</hibernate-configuration>
